*{
    padding: 0;
    margin: 0;
}
.card-design{
    background: linear-gradient(to right, #1a8cff, #004d99);
}
body{
  background: linear-gradient( to right, #4d4dff, #b3b3ff) !important;
}